.card {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 5px solid #3563ad;
    border-radius: 5px;
    background-color: #ffcb05;
    margin: 0 5px 20px 5px;
    /* padding: 10px; */
    
}

.card-img {
    box-sizing: border-box;
    width: 140px;
    height: 140px;
    object-fit: cover;
    padding: 0px;
}

/* Grow */

/* https://github.com/IanLunn/Hover/blob/master/css/hover.css */

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .card {
        width: 120px;
        height: 120px;
        margin-bottom: 15px;
    }
    .card-img {
        width: 110px;
        height: 110px;
    }
}

@media (max-width: 480px) {
    .card {
        border: 3px solid #3563ad;
        width: 75px;
        height: 75px;
        margin-bottom: 10px;
    }
    .card-img {
        width: 65px;
        height: 65px;
    }
}
